body {
	font-family : Playfair Display;
	background: #555B61; 
}

#page {
	margin : auto;
	text-align: center;
	width: 75%;
	border: 3px solid white;
	background: white;
	font-size: 18px;
}
#logo {
	width: 200px;
	position: relative;
	right: 40%;
}

.titre {
	margin : auto;
	text-align: center;
	width: 70%;
}

h1 {
	color: #A1045A;
	font-size: 35px;
}

.titre p {
	font-size: 25px;
}

.cours {
	text-indent: 50px;
	text-align: start;
	padding: 40px;
}